.m-pdDetail{  border:1px solid #d8d8d8; border-radius: 10px; background: #fff; }
.m-pdDetail .md{float: left;}
.m-pdDetail .ml{width: 700px;}
.m-pdDetail .picWrap{position: relative; width: 700px; height: 500px;}
.m-pdDetail .picWrap img{ position: absolute; left: 0; top: 0; bottom: 0; right:0; margin: auto; width: 400px; height: auto;}
.m-pdDetail .mr{width: 480px; padding-top: 90px;}
.m-pdDetail .pdName{font-size: 26px; line-height: 40px;}
.m-pdDetail .bf{margin-top: 5px; font-size: 18px; color: #909090; line-height: 1;}
.m-pdDetail .jiage{ font-size: 16px; color: #000; font-weight: bold;}
.m-pdDetail .syb{color: #e03e30; font-weight: bold;}
.m-pdDetail .price{font-size: 22px;}
.m-pdDetail li{padding: 30px 0; border-bottom: 1px solid #ededed;}
.m-pdDetail .asBtn{float: left; margin: 0 20px; border:1px solid #d8d8d8; border-radius: 8px; text-align: center; overflow: hidden;}
.m-pdDetail .arr{background: #eee; cursor: pointer;}
.m-pdDetail .asBtn span{float: left; width: 40px; line-height: 34px; }
.m-pdDetail .count{border-left: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8;}
.m-pdDetail .addCart{float: left; padding: 10px 15px; border-radius: 8px; border: 1px solid #41b92f; background: #4BC339; color: #fff; cursor: pointer;}




